<StackLayout>
  <TextField hint="Pseudo" [(ngModel)]="pseudo"
    autocorrect="false" autocapitalizationType="none" class="input"></TextField>
  <TextField hint="Password" secure="true" [(ngModel)]="password" class="input"></TextField>

  <GridLayout *ngIf="!isLoggingIn" rows="auto auto" columns="* *" class="m-5">
    <Label row="0" col="0" text="Private mediatek" textWrap="true"></Label>
    <Switch row="0" col="1" class="m-15" checked="false" [(ngModel)]="shared"></Switch>
  </GridLayout>

  <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" class="btn btn-primary" (tap)="submit()"></Button>
  <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" class="btn btn-outline" (tap)="toggleDisplay()"></Button>

</StackLayout>
