<StackLayout>
    <Button class="btn btn-primary btn-active" id="button" text="MENU" (tap)="open_close()"></Button>
    <StackLayout  *ngIf="isOpen">
        <Button class="btn btn-primary btn-active" id="user" text="PROFIL" (tap)="goTo('app/user')"></Button>
        <Button class="btn btn-primary btn-active" id="groupes" text="GROUPES" (tap)="goTo('app/groupes')"></Button>
        <Button class="btn btn-primary btn-active" id="media" text="MEDIATEK" (tap)="goTo('app/mediatek')"></Button>
    </StackLayout>
</StackLayout>
